@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96.08%;
    --foreground: 222.22 47.37% 11.18%;
    --card: 214.29 31.82% 91.37%;
    --card-foreground: 228.57 84% 4.9%;
    --popover: 214.29 31.82% 91.37%;
    --popover-foreground: 228.57 84% 4.9%;
    --primary: 262.12 83.26% 57.84%;
    --primary-foreground: 250 100% 97.65%;
    --secondary: 161.38 93.55% 30.39%;
    --secondary-foreground: 151.76 80.95% 95.88%;
    --accent: 243.4 75.36% 58.63%;
    --accent-foreground: 225.88 100% 96.67%;
    --destructive: 345.35 82.69% 40.78%;
    --destructive-foreground: 355.71 100% 97.25%;
    --muted: 210 40% 96.08%;
    --muted-foreground: 217.24 32.58% 17.45%;
    --border: 212.73 26.83% 83.92%;
    --input: 212.73 26.83% 83.92%;
    --ring: 262.12 83.26% 57.84%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.22 47.37% 11.18%;
    --foreground: 210 40% 96.08%;
    --card: 228.57 84% 4.9%;
    --card-foreground: 214.29 31.82% 91.37%;
    --popover: 228.57 84% 4.9%;
    --popover-foreground: 214.29 31.82% 91.37%;
    --primary: 258.31 89.53% 66.27%;
    --primary-foreground: 270 100% 98.04%;
    --secondary: 160.12 84.08% 39.41%;
    --secondary-foreground: 151.76 80.95% 95.88%;
    --accent: 238.73 83.53% 66.67%;
    --accent-foreground: 225.88 100% 96.67%;
    --destructive: 346.84 77.17% 49.8%;
    --destructive-foreground: 355.71 100% 97.25%;
    --muted: 217.24 32.58% 17.45%;
    --muted-foreground: 210 40% 96.08%;
    --border: 215.29 25% 26.67%;
    --input: 215.29 25% 26.67%;
    --ring: 258.31 89.53% 66.27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
